.H1 {
    color: #484848;
    font-size: 40px;
    font-weight: 700;
}

.H2 {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
}

.H3 {
    color: #484848;
    font-size: 27px;
    font-weight: 400;
}

.R {
    color: #484848;
    margin: 25px 0px;
    letter-spacing: 0.5px;
    line-height: 21px;
}

.L {
    color: #484848;
    
}

.S {
    color: #484848;
    
}